
@use "mixin";
@media (max-width: 800px) {
    .list-container {
        padding: 0 30px 100px 30px !important;
    }

    .task_list_item {
        height: 100%;
        gap: 10px;
    
        > .item_title {
            width: 100%;
            height: 100%;
            font-size: 0.8em;
            overflow: initial;
            overflow-x: hidden;
        }
        justify-content: initial;
        align-items: flex-start;

        .item_due {
            font-size: .7em;
            // text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }
    }


}
