// Utility classes that give generally common styling and can be used in many places

@use "var";
@use "mixin";

.item_due-overdue {
    @include mixin.date-padding;
    background-color: var.$task-dateColor1;

}

.item_due-today {
    @include mixin.date-padding;
    background-color: var.$task-dateColor2;


}

.item_due-someday {
    @include mixin.date-padding;
    background-color: var.$task-dateColor3;
}





.subtask {
    padding-left: 20px;
}
.button-style1 {
    @include mixin.remove_border-outline;
    background-color: rgb(60, 145, 194);
    color: var.$buttonText-color;

    border-radius: 10px;
    padding: 7px;
    cursor: pointer;

}

.button-style2 {
    background-color: transparent;
    @include mixin.remove_border-outline;
    color: var.$buttonText-color;
    text-decoration: underline;
    cursor: pointer;
}


::placeholder {
    color: var.$placeholder-color;
}

.disabled {
    opacity: 0.4;
}