//dark theme mode

// Color ----------------->       

//base
$heading-color: #222222;
$main-color: #333333;

// list
$listHeading-color: #ffffffc7;
$borderbottom-color: 1px solid rgba(204, 204, 204, 0.171);  

//task
$taskTitle-color: rgba(255, 255, 255, 0.856);
$task-backgroundColor: rgb(39, 39, 39);

//due date 
$task-dateColor1: rgb(192, 37, 37);
$task-dateColor2: rgb(216, 176, 0);
$task-dateColor3: rgb(113, 194, 6);

//add task 
$plusIcon-color: rgb(60, 145, 194);  
// edit button 
$buttonText-color: rgba(255, 255, 255, 0.856);
$placeholder-color: rgba(202, 202, 202, 0.698);

// date
$dateBorder-color: rgba(255, 255, 255, 0.205);
$datebackground-color: rgba(255, 255, 255, 0.105);
//size 
$title-size: 20px;
$normal-size: 16px;
$date-size: 14px;

// sizing ---------------->
$heading-width: 70px; 